server:
  port: 4003
spring:
  application:
    name: enrollment-service
  profiles:
    active: dev
  kafka:
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
      properties:
        spring.json.add.type.headers: true
    consumer:
      group-id: enrollment-group
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: com.studentmanagement.payment.event.EnrollmentInitiatedEvent:com.studentmanagement.enrollment.event.EnrollmentInitiatedEvent, com.studentmanagement.course.event.EnrollmentInitiatedEvent:com.studentmanagement.enrollment.event.EnrollmentInitiatedEvent
springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: false
