server:
  port: 4002
spring:
  application:
    name: course-service
  profiles:
    active: dev
  kafka:
    consumer:
      group-id: course-group
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: com.studentmanagement.payment.event.EnrollmentInitiatedEvent:com.studentmanagement.course.event.EnrollmentInitiatedEvent

springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html

eureka:
  instance:
    hostname: localhost
    prefer-ip-address: false
