server:
  port: 4004
spring:
  application:
    name: payment-service
  profiles:
    active: dev
  kafka:
    consumer:
      group-id: payment-group
      auto-offset-reset: earliest
      key-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.ErrorHandlingDeserializer
      properties:
        spring.deserializer.key.delegate.class: org.apache.kafka.common.serialization.StringDeserializer
        spring.deserializer.value.delegate.class: org.springframework.kafka.support.serializer.JsonDeserializer
        spring.json.trusted.packages: "*"
        spring.json.type.mapping: com.studentmanagement.enrollment.event.EnrollmentInitiatedEvent:com.studentmanagement.payment.event.EnrollmentInitiatedEvent
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer
    topic:
      enrollment-events: enrollment-events
      payment-events: payment-events
springdoc:
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
